<div class="col">
    <div class="card bg-{{ bgColor }} text-white text-center">
        <div class="card-body">
            <i class="fas {{ icon }}"></i>
            <p class="card-text">{{ text }}</p>
        </div>
    </div>
</div>
